body {
    background: #F7F2E0;
    margin-bottom: 60px;
    width: 100%;
}
html {
    position: relative;
    min-height: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: aliceblue;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #343a40;
}
